body {
  font-family: Catamaran;
  background-color: #d9faff;
  color: #d9faff;
}

h1,h2,h3,h4,h5,h6{
  font-family: Catamaran-Bold;
  color: #d9faff;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Contact me section */
.contact_form{
  background-color: #005792;
  color: color: #d9faff;
  padding: 3%;
  padding-bottom: 10%;

}

/* Images for about me section */
.map{
  padding-top: 5%;
  padding-left: 10%;
  width: 80%;
}

.und{
  width: 70%;
  padding-top: 15%;
}

.young-pic {
  width: 70%;
  border-radius: 20%;
  margin: 50px;
}

.Bio{
  background-color: #005792;
  color: #d9faff;
  padding: 5%;
}

/* Front Page Section */
#title{
  background-color: #00bbf0;
  color: #d9faff;
  margin: : 2%;
  border: 2%;
}

.first{
  padding: 5%;
}

.Title {
  background-color: #00bbf0;
  color: #d9faff;
  margin: : 2%;
  border: 2%;
}

.Testimonials {
  padding: 7% 10%;
  text-align: center;
  background-color: #005792;
  color: #d9faff;
}

.container-fluid {
padding: 1%;
background-color: #00204a

}

/* Navigation Bar */
.navbar {
  padding-bottom: 1.5rem;
  background-color: #00204a;
  color: #d9faff;
}

.navbar-brand {
  font-family: Catamaran-Bold;
  font-size: 2.5rem;
  font-weight: bold;
  color: #d9faff;
}

.nav-item {
  padding: 0 18px;
  margin-top: 100px;
  color: #d9faff;
}

.nav-link {
  font-size: 1.5rem;
  font-family: Catamaran;
  color: #d9faff;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.carousel-control-prev {
    left: -10%;
    color: #d9faff;
}
.carousel-control-next {
    left: 95%;
    color: #d9faff;
}

.profile-pic {
  width: 50%;
  border-radius: 20%;
  margin: 50px;
}
